.container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #292929;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover {
    background-color: #363636;
  }
}

.cardImgContainer {
  margin: 20px;
  .cardImg {
    border-radius: 8px;
  }
}

.cardContent {
  p {
    margin: 5px 0;
  }
  p:not(:first-child) {
    font-size: 20px;
    font-weight: 600;
  }
  .cardContentTitle {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
  }
  .cardContentUpdated {
    color: #52a2d5;
  }
  .cardContentReports {
    color: #b358bf;
  }
}

@media (max-width: 950px) {
  .cardContent {
    text-align: center;
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .container {
    flex-direction: column;
  }
  .cardImgContainer {
    margin: 30px 0 5px 0;
  }
  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cardContentScore {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 470px) {
  .cardImgContainer {
    margin: 30px 0 5px 0;
    width: 266px;
    height: 155px;
  }
}
