.cardsContainer {
  display: grid;
  grid-template-columns: minmax(430px, 920px);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cardsSortButton {
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap-reverse;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 22px;
    background-color: #292929;
    color: #dbdbdb;
    border: 1px solid transparent;
    cursor: pointer;

    .expand {
      width: 15px;
      margin-left: 5px;
      fill: #dbdbdb;
    }

    &:first-child {
      margin-bottom: 5px;
      border-radius: 8px;
    }

    &:hover {
      background-color: #363636;
    }
  }
}

@media (max-width: 950px) {
  .cardsContainer {
    grid-template-columns: minmax(300px, 630px);
    gap: 5px;
  }

  .cardsSortButton {
    width: 100%;
    justify-content: center;

    button {
      font-size: 20px;
      width: 100%;
      height: 55px;
    }
  }
}

@media (max-width: 657px) {
  .cardsContainer {
    margin: 0 10px 20px 10px;
  }
}
