.cardsContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(730px, 920px));
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px;
}

.cardsFilterButton {
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap-reverse;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 22px;
    background-color: #292929;
    color: #dbdbdb;
    border: 1px solid transparent;
    cursor: pointer;
    .expandIcon {
      width: 15px;
      margin-left: 5px;
      filter: invert(98%) sepia(2%) saturate(33%) hue-rotate(315deg)
        brightness(92%) contrast(89%);
    }
    &:first-child {
      margin-bottom: 5px;
      border-radius: 8px;
    }
    &:hover {
      background-color: #363636;
    }
  }
}

@media (max-width: 950px) {
  .cardsContainer {
    grid-template-columns: repeat(1, minmax(430px, 630px));
    margin: 20px;
  }
  .cardsFilterButton {
    width: 100%;
    justify-content: center;
    button {
      font-size: 20px;
      width: 100%;
      height: 55px;
    }
  }
}

@media (max-width: 667px) {
  .cardsContainer {
    margin: 0 10px 20px 10px;
  }
}

@media (max-width: 470px) {
  .cardsContainer {
    grid-template-columns: repeat(1, minmax(300px, 430px));
    gap: 10px;
  }
}
