.cardsContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(730px, 920px));
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 80px;
}

.cardsFilterButton {
  display: flex;
  justify-content: flex-end;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 60px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 22px;
    background-color: #292929;
    color: #dbdbdb;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #363636;
    }
  }
}
