.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #292929;
  border-radius: 10px;
  padding: 40px;
  margin-top: 15px;

  p {
    font-size: 17px;
    margin: 5px;
  }

  .commentInfo {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    margin-top: 10px;
  }

  .commentTitle {
    font-weight: bold;
    font-size: 23px;
    color: white;
    margin: 0 0 5px 0;
  }

  .commentDescription {
    font-size: 20px;
    font-weight: 400;
    color: #e6e6e6;
  }

  .commentRunThrough,
  .commentScore,
  .commentSelect,
  .commentPlatform,
  .commentMac {
    color: #dbdbdb;
  }
}

.commentUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .author {
    font-weight: 500;
    font-size: 20px;
    color: #52a2d5;
    margin: 5px 0;
  }

  .authorReports {
    font-size: 18px;
    font-weight: 500;
    color: #b358bf;
  }

  .commentDate {
    font-size: 15px;
    font-weight: 500;
    color: #b7b7b7;
  }
}

@media (max-width: 913px) {
  .comment {
    .commentInfo {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
  }
}
