.contactGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-family: "Roboto";
  color: white;
  text-align: center;
  .contactGameTitle h1 {
    font-size: 45px;
  }
  .contactGameInfoContainer {
    .contactGameInfoLogo {
      padding-right: 5px;
    }
    .contactGameInfoCard {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: 500;
      background-color: #292929;
      width: 500px;
      height: 80px;
      border-radius: 15px;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        background-color: #363636;
      }
    }
  }
}
