.contactGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  .contactGameTitle h1 {
    font-size: 45px;
  }
  .contactGameInfoContainer {
    position: relative;
    .contactGameInfoLogo {
      padding-left: 20px;
      position: absolute;
      left: 0;
      padding-right: 5px;
    }
    .contactGameInfoCard {
      padding-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
      font-weight: 500;
      background-color: #292929;
      width: 450px;
      height: 70px;
      border-radius: 15px;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        background-color: #363636;
      }
    }
  }
}
