.gamesContainer {
  margin: 40px;
  .gamesImgContainer {
    text-align: center;
    .gamesImg {
      border-radius: 30px;
    }
  }
  .gamesContactContainer {
    text-align: center;
    font-family: "Roboto", sans-serif;
    h1 {
      color: white;
      margin-bottom: 0;
    }
    p {
      font-size: 20px;
      font-weight: bold;
      color: #78bf58;
    }
  }

  .gamesCommentsContainer {
    margin: 30px 20%;
  }

  .gamesCommentsButtonsContainer {
    display: flex;
    justify-content: flex-end;
    span {
      display: flex;
      justify-content: right;
      align-items: center;
      margin-left: 5px;
    }
    .devsContactButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 60px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 22px;
      text-transform: capitalize;
      background-color: #292929;
      color: #dbdbdb;
      border: 1px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: #363636;
      }
    }
    .iconColor {
      filter: invert(98%) sepia(2%) saturate(33%) hue-rotate(315deg)
        brightness(92%) contrast(89%);
    }
    .filterButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 60px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 22px;
      text-transform: capitalize;
      background-color: #292929;
      color: #dbdbdb;
      border: 1px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      margin-left: 15px;
      &:hover {
        background-color: #363636;
      }
    }
  }
}

@media (max-width: 1445px) {
  .gamesContainer {
    .gamesCommentsContainer {
      margin: 30px 12%;
    }
  }
}

@media (max-width: 1153px) {
  .gamesContainer {
    .gamesCommentsContainer {
      margin: 0;
    }
  }
}

@media (max-width: 667px) {
  .gamesContainer {
    margin: 15px;
    .gamesImgContainer {
      .gamesImg {
        border-radius: 15px;
      }
    }
  }
}
