.gamesContainer {
  margin: 40px;
  .gamesImgContainer {
    text-align: center;
  }
  .gamesContactContainer {
    text-align: center;
    font-family: "Roboto", sans-serif;
    h1 {
      color: white;
      margin-bottom: 0;
    }
    p {
      font-size: 20px;
      font-weight: bold;
      color: #78bf58;
    }
  }

  .gamesCommentsContainer {
    margin: 30px 20%;
  }

  .gamesCommentsButtonsContainer {
    display: flex;
    justify-content: flex-end;
    span {
      display: flex;
      justify-content: right;
      align-items: center;
      margin-left: 5px;
    }
    .devsContactButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 60px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 22px;
      text-transform: capitalize;
      background-color: #292929;
      color: #dbdbdb;
      border: 1px solid transparent;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: #363636;
      }
    }
    .filterButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 60px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 22px;
      text-transform: capitalize;
      background-color: #292929;
      color: #dbdbdb;
      border: 1px solid transparent;
      border-radius: 10px;
      cursor: pointer;
      margin-left: 15px;
      &:hover {
        background-color: #363636;
      }
    }
  }
}

.gamesUser {
  display: flex;
  justify-content: left;
  align-items: center;
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: white;
    margin: 0;
  }
  .gameUserInfo {
    margin-left: 15px;
  }
  .gamesReports {
    font-size: 18px;
    color: #b7b7b7;
  }
  background-color: #292929;
  border-radius: 15px;
  height: 95px;
  margin-top: 15px;
  padding-left: 40px;
}

.gamesUserComments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 5px;
  }
  .gamesDate {
    font-size: 15px;
    font-weight: 500;
    color: #b7b7b7;
  }
  .gamesTitle {
    font-size: 24px;
    color: white;
  }
  .gamesComment {
    font-size: 20px;
    font-weight: 400;
    color: #e6e6e6;
  }
  .gamesThrough {
    font-weight: bold;
    color: #5897bf;
  }
  .gamesScore {
    font-weight: bold;
    color: #78bf58;
  }
  .gamesSelect {
    font-weight: bold;
    color: #c052c9;
  }
  .gamesPlatform {
    font-weight: bold;
    color: #52c98e;
  }
  .gamesMac {
    font-weight: bold;
    color: #c9a452;
  }
  background-color: #292929;
  border-radius: 15px;
  padding: 40px;
  margin-top: 15px;
}

@media (max-width: 1445px) {
  .gamesContainer {
    .gamesCommentsContainer {
      margin: 30px 12%;
    }
  }
}

@media (max-width: 975px) {
  .gamesContainer {
    .gamesCommentsContainer {
      margin: 0;
    }
  }
}
