.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px 0;
}

.signin h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: white;
  margin: 0;
}

.signin p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
}

.signinJoin {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.signin button {
  font-size: 23px;
  padding: 14px 45px;
  border: 1px solid transparent;
  border-radius: 60px;
  background-color: white;
  cursor: pointer;
}

.signin .logo {
  font-size: 30px;
  margin-right: 5px;
}
