.container {
  position: sticky;
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 99;
  background-color: white;
  border-radius: 80px;
}

.user {
  text-transform: capitalize;
  font-weight: bold;
}
